{% extends 'base.html' %}
{% block content %}
<!-- Audience -->
<div class="audience">
	<div class="audience-home d-flex">
		<div class='audience-left-side d-flex flex-column'>
			<!-- Audience Top Bar -->
			<div class="audience-top-bar d-flex">
				<div class='item audience-top-bar-btn'>
					<button>
					<i class="fa fa-filter"></i> Filter
					</button>
					<button>
					<i class="fa fa-search"></i> Search
					</button>
				</div>
				<div class="item contains-nav-tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#people" role="tab">People View</a>
						</li>
						<li class="nav-item">
							<a class="nav-link border-right" data-toggle="tab" href="#audience" role="tab">Audience View</a>
						</li>
					</ul>
				</div>
				<div class="item">
					<span>
					<strong>437 selected</strong>
					of 437 total
					</span>
				</div>
				<div class="item">
					<div class="audience-bulk-actions">
						<span>Bulk Actions</span>
					</div>
				</div>
				<div class="item">
					<button class="green-btn">
					Add Members
					</button>
				</div>
				<div class="item">
					<button class="green-btn">
					Bulk Add
					</button>
				</div>
			</div>
			<!-- End Audience Top Bar -->
			<!-- Audience Main Content -->
			<div class="audience-main">
				<div class="tab-content">
					<!-- People Tab -->
					<div class="tab-pane active" id="people" role="tabpanel">
						<div class="d-flex flex-column audience-table">
							<!-- Header Row -->
							<div class="audience-table-header audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
										<p>Avatar</p>
									</div>
									<div class="col">
										<p>Name</p>
									</div>
									<div class="col">
										<p>Active Campaign List</p>
									</div>
									<div class="col">
										<p>Status</p>
									</div>
									<div class="col">
										<p>Last Message</p>
									</div>
									<div class="col col-3 message-col">
										<p>Last Message Sent</p>
									</div>
								</div>
							</div>
							<!-- End header Row -->
							<!-- Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
										<img src="http://via.placeholder.com/100x100">
									</div>
									<div class="col">
										<p>Keith Smith</p>
									</div>
									<div class="col">
										<p>Australian Prospects</p>
									</div>
									<div class="col">
										<p class='subscriber'>Subscriber</p>
									</div>
									<div class="col">
										<p>14:30 today</p>
									</div>
									<div class="col col-3 message-col">
										<p>Hey Keith! Nathan here! Can't wait to see you next Thursday 18th June at 16:40</p>
									</div>
								</div>
							</div>
							<!-- End Row -->
							<!-- Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
										<img src="http://via.placeholder.com/100x100">
									</div>
									<div class="col">
										<p>Jane Burn</p>
									</div>
									<div class="col">
										<p>American Prospects</p>
									</div>
									<div class="col">
										<p class='subscriber'>Subscriber</p>
									</div>
									<div class="col">
										<p>14:30 yesterday</p>
									</div>
									<div class="col col-3 message-col">
										<p>Hey Jane! Nate here! Thanks for buying the ebook!</p>
									</div>
								</div>
							</div>
							<!-- End Row -->
							<!-- Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
										<img src="http://via.placeholder.com/100x100">
									</div>
									<div class="col">
										<p>John Fuller</p>
									</div>
									<div class="col">
										<p>American Prospects</p>
									</div>
									<div class="col">
										<p class='not-subscribed'>Unsubscribed</p>
									</div>
									<div class="col">
										<p>14:30 Wed 23 Jan 2017</p>
									</div>
									<div class="col col-3 message-col">
										<p>Hey John! Thanks for buying the ebook!</p>
									</div>
								</div>
							</div>
							<!-- End Row -->
							<!-- Empty Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col col-3 message-col">
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col col-3 message-col">
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col col-3 message-col">
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row">
								<div class='row'>
									<div class="checkbox-col">
									</div>
									<div class="image-col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col">
									</div>
									<div class="col col-3 message-col">
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
						</div>
					</div>
					<!-- End People Tab -->
					<!-- Audience Tab -->
					<div class="tab-pane" id="audience" role="tabpanel">
						<div class="d-flex flex-column audience-table audience-tab-table">
							<!-- Header Row -->
							<div class="audience-table-header audience-table-row">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<p>WOW!SMS Audience Name</p>
										</div>
									</div>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<p>Active Campaign List Name</p>
										</div>
									</div>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<p>My Uploaded CSV</p>
										</div>
									</div>
									<div class="options-col d-flex">
										<div class="col-content d-flex"></div>
									</div>
								</div>
							</div>
							<!-- End header Row -->
							<!-- Row -->
							<div class="audience-table-row audience-table-body">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<p>Test Audience <i class="fa fa-pencil"></i></p>
										</div>
									</div>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<p>Australian Prospects</p>
										</div>
									</div>
									<div class="col d-flex">
										<div class='col-content d-flex'>
											<div class="audience-csv-information d-flex">
												<p>13 Nov 2018</p>
												<div class='audience-csv-details'>
													<span class="green">258</span>
													<span class="red">2</span>
													<span>260</span>
												</div>
											</div>
										</div>
									</div>
									<div class="options-col d-flex">
										<div class="col-content d-flex">
											<div class='audience-options'>
												<i class="fa fa-copy copy-icon"></i>
												<i class="fa fa-trash trash-icon"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Row -->
							<!-- Empty Row -->
							<div class="audience-table-row audience-table-body">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="options-col d-flex">
										<div class='col-content'></div>
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row audience-table-body">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="options-col d-flex">
										<div class='col-content'></div>
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row audience-table-body">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="options-col d-flex">
										<div class='col-content'></div>
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
							<!-- Empty Row -->
							<div class="audience-table-row audience-table-body">
								<div class='d-flex'>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="col d-flex">
										<div class='col-content'></div>
									</div>
									<div class="options-col d-flex">
										<div class='col-content'></div>
									</div>
								</div>
							</div>
							<!-- End Empty Row -->
						</div>
					</div>
					<!-- End Audience Tab -->
				</div>
			</div>
			<!-- End Audience Main -->
		</div>
		<!-- Audience Sidebar -->
		<div class="audience-sidebar">
			<div class="d-flex audience-sidebar-header">
				<div class='audience-sidebar-header-contains-all'>
					<a href="#">All</a>
				</div>
				<span><em>427 Subscribers</em></span>
			</div>
			<div class="audience-sidebar-information">
				<!-- Tags header -->
				<div class="d-flex audience-sidebar-information-title">
					<h2>Tags</h2>
					<span><em>Subscribers</em></span>
				</div>
				<!-- End Tags header -->
				<!-- Tag Rows -->
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>[COTERIE-FRENCH-TOAST-BU...</p>
					<span>0</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>[ANDREW-HOT-LEAD]</p>
					<span>27</span>
				</div>
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>[ANDREW-LEAD]</p>
					<span>27</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>[WATCHED_ANDREW_WEBIN...</p>
					<span>33</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>[ANDREW-WEBINAR]</p>
					<span>81</span>
				</div>
				<p class='audience-sidebar-information--show-all_p'>
					<a href="#" class='audience-sidebar-information-show-all_btn'>Show All Tags</a>
				</p>
				<!-- End Tag Rows -->
				<!-- Sequences header -->
				<div class="d-flex audience-sidebar-information-title">
					<h2>Sequences</h2>
					<span><em>Subscribers</em></span>
				</div>
				<!-- End Sequences header -->
				<!-- Sequences Rows -->
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>Delete</p>
					<span>0</span>
				</div>
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>So You Want To Build A Faceboo...</p>
					<span>0</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>Send Andrew's Live Webinar Link</p>
					<span>50</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>Sequence to Give Webinar Link...</p>
					<span>332</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>From NathanHague.com Optin</p>
					<span>2</span>
				</div>
				<p class='audience-sidebar-information--show-all_p'>
					<a href="#" class='audience-sidebar-information-show-all_btn'>Show All Sequences</a>
				</p>
				<!-- End Sequences Rows -->
				<!-- Active Campaign List header -->
				<div class="d-flex audience-sidebar-information-title">
					<h2>Active Campaign List</h2>
					<span><em>Subscribers</em></span>
				</div>
				<!-- End Active Campaign List header -->
				<!-- Active Campaign List Rows -->
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>Delete</p>
					<span>0</span>
				</div>
				<div class="audience-sidebar-information-row no-subscribers d-flex">
					<p>So You Want To Build A Faceboo...</p>
					<span>0</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>Send Andrew's Live Webinar Link</p>
					<span>50</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>Sequence to Give Webinar Link...</p>
					<span>332</span>
				</div>
				<div class="audience-sidebar-information-row d-flex">
					<p>From NathanHague.com Optin</p>
					<span>2</span>
				</div>
				<p class='audience-sidebar-information--show-all_p'>
					<a href="#" class='audience-sidebar-information-show-all_btn'>Show All Active Campaign Lists</a>
				</p>
				<!-- End Active Campaign List Rows -->
			</div>
		</div>
		<!-- End Audience Sidebar -->
	</div>
</div>
<!-- End Audience -->
{% endblock %}
{% block scripts %}
{% endblock %}