{%extends "base.html" %}
{% block css %}
{% load staticfiles %}
	<link rel='stylesheet' href='{% static "/css/campaign-builder.css" %}'>
{% endblock %}
{% block content %}
	<style>
		.campaign-builder-phone {
			width: 350px;
			background: url('{% static "/campaign-builder-images/phone.png" %}');
			min-height: 700px;
			background-size: 100% 100%;
			margin-bottom: 40px;
		}
		.campaign-builder-interface {
			width: 100%;
			flex: 1;
			background: url('{% static "/campaign-builder-images/interactive-area-bg.jpg" %}');
			border: 3px solid #b0b0b0;
			box-sizing: border-box;
		}
		.campaign-builder-controls .wait-btn {
			background: url('{% static "campaign-builder-images/wait-button-bg.jpg" %}');
			background-size: 100% 100%;
			background-position: center;
		}
	</style>
	<!-- Campaign Builder -->
	<div class='d-flex campaign-builder'>
		<div class='campaign-builder-content'>
			<div class="d-flex flex-column campaign-builder-col">
				<!-- Campaign Builder Controls (Top Part) -->
				<div class="campaign-builder-controls">
					<div class="d-flex">
						<button id='newSMSMessage'>
							<div class='new-sms-message-campaign-builder' id='new-sms-message' >New SMS Message</div>
						</button>
						<button id="wait" class='wait-btn'>
							<div class="wait-campaign-builder">
								<span>Wait</span>
							</div>
						</button>
						<button id="sequence-joiner" class="sequence-joiner">
							<div class="sequence-joiner-builder">
								<div class='table'>
									<div class='table-cell'>
										<span>Sequence Joiner</span>
									</div>
								</div>
							</div>
						</button>
						<div class='campaign-details-campaign-builder'>
							<div class="campaign-details-header d-flex">
								<span id='campaign-name'>Campaign Name <i class="fa fa-pencil" id='edit-campaign-name' onclick='editName("#campaign-name")'></i></span>
								<a href="#" class='copy-webhook'>Copy Webhook</a>
							</div>
							<div class="campaign-details-content d-flex">
								<span class='to-span'>To:</span>
								<span class="to-person">+4476856 3367</span>
								<span class="to-person">customer-list</span>
								<span class="to-person">[ACTIVE-CAMPAIGN-TAG]</span>
								<span class="more">+11 more</span>
							</div>
						</div>
					</div>
				</div>
				<!-- End Campaign Builder Controls (Top Part) -->
				<!-- Campaign Builder Drag and Drop interface -->
				<div class="campaign-builder-interface">
					<div class='campaign-builder-buttons d-flex'>
						<button class="schedule-btn">Schedule</button>
						<button class="send-now">Send Now</button>
					</div>
				</div>
				<!-- End Campaign Builder Drag and Drop Interface -->
			</div>
		</div>
		<div class='campaign-builder-phone'>
			<div class='campaign-builder-phone-content' id='campaign-builder'>
				<!-- Message Received -->
				<div class="campaign-builder-message">
					<p>Hello Jon! How are you today? How's the weather in London treating you?</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Received -->
				<!-- Message Sent -->
				<div class="campaign-builder-message message-sent">
					<p>Hello Every Interaction. The weather is fantastic. It's currently 19<sup>O</sup>C, we have crisp blue skies with a beautiful sunshine.</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Sent -->
				<!-- Message Sent -->
				<div class="campaign-builder-message">
					<p>Perfect. What's on the agenda today?</p>
				</div>
				<div class='campaign-builder-message message-sent'>
					<p>Nothing cuz ur a cunt</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Sent -->
			</div>
		</div>
	</div>
	<!-- End Campaign Builder -->
{% endblock %}
{% block scripts %}
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.17/go.js'></script>
	<script type='text/javascript' src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
	<script>
		(function() {
			var smsMessage = $($('#newSMSMessage')[0]),
				wait = $($('#wait')[0]);
			smsMessage.on({
				dblclick: function() {
					alert("Create new SMS message")
				}
			})
			wait.on({
				dblclick: function() {
					alert("Create a new WAIT command")
				}
			})
		})();
		function editName(element) {
			var textArea = $('<textarea />')
		}
	</script>
{% endblock %}