{%extends "base.html" %}
{% block css %}
{% load staticfiles %}
	<link rel='stylesheet' href='{% static "/css/campaign-builder.css" %}'>
{% endblock %}
{% block content %}
	<style>
		.campaign-builder-phone {
			background: url('{% static "/campaign-builder-images/phone.png" %}');
			width: 350px;
			min-height: 700px;
			background-size: 100% 100%;
			margin-bottom: 40px;
		}
		.campaign-builder-interface {
			width: 100%;
			flex: 1;
			border: 3px solid #b0b0b0;
			box-sizing: border-box;
		}
		.campaign-builder-controls .wait-btn {
			background: url('{% static "campaign-builder-images/wait-button-bg.jpg" %}');
			background-size: 100% 100%;
			background-position: center;
		}
	</style>
	<!-- PE's CSS -->
	<style>
		.campaign-builder-interface {
			font-size: 16px;
		}

		#builder-frame {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		#overlay-box {
			position: absolute;
			pointer-events: none;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		#overlay-box > * {
			pointer-events: auto;
			font-size: 16px;
		}

		#builder-canvas {
			position: absolute;
			background: url('{% static "/campaign-builder-images/interactive-area-bg.jpg" %}');
			width: 500em;
			height: 500em;
			left: -250em;
			top: -10em;
			margin-left: 50%;
			touch-action:none;
			cursor: default;
			cursor: -moz-grab;
			cursor: -webkit-grab;
		}

		#builder-canvas.dragging, #shadow-objects svg {
			cursor: move;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}

		#builder-canvas svg {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.module {
			cursor: default;
		}

		#start-area {
			position: absolute;
			width: 100%;
			height: 5em;
			justify-content: center;
			top: 12em;
		}

		#start-button {
			position: relative;
			width: 8em;
			height: 2em;
			background: #2f64a4;
			border-radius: 1em;
			overflow: hidden;
		}

		#start-lbl {
			display: flex;
			position: absolute;
			width: 75%;
			height: 100%;
			background: white;
			align-items: center;
			justify-content: center;
			font-size: 120%;
			line-height: 1;
		}

		.blue-border {
			border: 2px solid #2f64a4;
		}

		.settings-button {
			position: relative;
			float: right;
			background: #2f64a6;
			height: 100%;
			width: 2em;
			cursor: pointer;
		}

		/*Shadow objects*/
		#shadow-objects svg {
			display: none;
			position: absolute;
			stroke: rgba(50, 220, 20,0.5);
			stroke-width: 0.15;
			fill: rgba(50, 220, 20, 0.2);
		}

		#shadow-objects svg.error{
		stroke: rgba(220, 20, 20, 0.5);
		fill: rgba(220, 20, 20, 0.2);
		}

		#shadow-rect {
			width: 28em;
			height: 10em;
			margin: -5em -14em;
		}

		#shadow-rhombus {
			width: 10em;
			height: 8em;
			margin: -4em -5em;
		}

		#shadow-circle {
			width: 10em;
			height: 10em;
			margin: -5em;
		}

		.popout{
			animation: pop 300ms forwards 1;
		}

		@keyframes pop{
			20%{
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}
			100%{
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			}
			width: 10em;
			height: 3em;
			background: red;
		}
	</style>
	<!-- Campaign Builder -->
	<div class='d-flex campaign-builder'>
		<div class='campaign-builder-content'>
			<div class="d-flex flex-column campaign-builder-col">
				<!-- Campaign Builder Controls (Top Part) -->
				<div class="campaign-builder-controls">
					<div class="d-flex">
						<button id='newSMSMessage'>
							<div class='new-sms-message-campaign-builder' id='new-sms-message' >New SMS Message</div>
						</button>
						<button id="wait" class='wait-btn'>
							<div class="wait-campaign-builder">
								<span>Wait</span>
							</div>
						</button>
						<button id="sequence-joiner" class="sequence-joiner">
							<div class="sequence-joiner-builder">
								<div class='table'>
									<div class='table-cell'>
										<span>Sequence Joiner</span>
									</div>
								</div>
							</div>
						</button>
						<div class='campaign-details-campaign-builder'>
							<div class="campaign-details-header d-flex">
								<span>
								<input type='text' name='campaign-name' id='campaign-name' value='Campaign Name'>
								<i class="fa fa-pencil" id='edit-campaign-name' style='margin-left: 10px; margin-right: 10px'></i>
								<a href="#" class='copy-webhook'>Copy Webhook</a>
							</div>
							<div class="campaign-details-content d-flex">
								<span class='to-span'>To:</span>
								<span class="to-person">+4476856 3367</span>
								<span class="to-person">customer-list</span>
								<span class="to-person">[ACTIVE-CAMPAIGN-TAG]</span>
								<span class="more">+11 more</span>
							</div>
						</div>
					</div>
				</div>
				<!-- End Campaign Builder Controls (Top Part) -->
				<!-- Campaign Builder Drag and Drop interface -->
				<div class="campaign-builder-interface">
					<div id="overlay-box">
						<div id="shadow-objects">
							<svg viewBox="-1 -1 28 10" id="shadow-rect">
								<rect width="26" height="8"></rect>
							</svg>
							<svg viewBox="-1 -1 10 8" id="shadow-rhombus">
								<path d="M0 3 l4 3 l4 -3 l-4 -3 z"></path>
							</svg>
							<svg viewBox="-1 -1 10 10" id="shadow-circle">
								<circle cx="4" cy="4" r="4"></circle>
							</svg>
						</div>
					</div>
					<div id="builder-frame">
						<div id="builder-canvas" class="grab">
							<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" height="500" width="500">
								<defs>
									<pattern id="backgrid" x="0" y="0" width="0.002" height="0.002">
										<rect x="0" y="0" width="1" height="1" fill="white" stroke="#eee" stroke-width="0.1"></rect>
									</pattern>
								</defs>
								<rect fill="url(#backgrid)" width="500" height="500"></rect>
							</svg>
							<div id="start-area" class="d-flex inert">
								<div id="start-button" class="blue-border module">
									<div id="start-lbl">START</div>
									<div class="settings-button"></div>
					<div id="builder-frame">
						<div id="builder-canvas">
							<div id="start-area" class="d-flex">
								<div id="start-button">

								</div>
							</div>
						</div>
					</div>
					<div class='campaign-builder-buttons d-flex'>
						<button class="schedule-btn">Schedule</button>
						<button class="send-now">Send Now</button>
					</div>
				</div>
				<!-- End Campaign Builder Drag and Drop Interface -->
			</div>
		</div>
		<div class='campaign-builder-phone'>
			<div class='campaign-builder-phone-content' id='campaign-builder'>
				<!-- Message Received -->
				<div class="campaign-builder-message">
					<p>Hello Jon! How are you today? How's the weather in London treating you?</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Received -->
				<!-- Message Sent -->
				<div class="campaign-builder-message message-sent">
					<p>Hello Every Interaction. The weather is fantastic. It's currently 19<sup>O</sup>C, we have crisp blue skies with a beautiful sunshine.</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Sent -->
				<!-- Message Sent -->
				<div class="campaign-builder-message">
					<p>Perfect. What's on the agenda today?</p>
				</div>
				<div class='campaign-builder-message message-sent'>
					<p>Nothing much man, just heading to the city to grab a drink with PE.</p>
				</div>
				<div class="clearfix"></div>
				<!-- End Message Sent -->
			</div>
		</div>
	</div>
	<!-- End Campaign Builder -->
	<!-- Shape drag box -->
	<div id="">
		<svg id="msg_shadow" viewBox="0 0 400 100"></svg>
	</div>
	<!-- End shape drag box -->
{% endblock %}
{% block scripts %}
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.17/go.js'></script>
	<script type='text/javascript' src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
	<script>
		(function() {
			var smsMessage = $($('#newSMSMessage')[0]),
				wait = $($('#wait')[0]);
			smsMessage.on({
				dblclick: function() {
					alert("Create new SMS message")
				}
			})
			wait.on({
				dblclick: function() {
					alert("Create a new WAIT command")
				}
			})
		})();
		function editName(element) {
			var textArea = $('<textarea />')
		}
	</script>
	<script src='{% static "/js/picturelements/graph.js" %}'></script>
	<script src='{% static "/js/picturelements/graph.js" %}'></script>
	<script src='{% static "/js/campaign-builder.js" %}'></script>
{% endblock %}
