{% extends 'base.html' %}
{% block content %}
<!-- Begin Examples -->
<!-- Example Campaign Builder Blue Button menu HTML -->
<div class="trigger-menu-campaign-builder">
	<ul>
		<li>
			<button>
				<span class="circle-indicator blue-circle-indicator"></span> 
				<p>Triggers</p>
				<span class="trigger-more"><i class="fa fa-caret-down"></i></span>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator green-circle-indicator"></span> 
				<p>Condition Block</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator orange-circle-indicator"></span> 
				<p>Tag Added</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator brown-circle-indicator"></span> 
				<p>Tag Removed</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator dark-purple-circle-indicator"></span> 
				<p>Date</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator light-purple-circle-indicator"></span> 
				<p>Time</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator yellow-circle-indicator"></span> 
				<p>Day</p>
			</button>
		</li>
		<li>
			<button>
				<span class="circle-indicator grey-circle-indicator"></span> 
				<p>Clicked</p>
			</button>
		</li>
	</ul>
</div>
<!-- End Example Campaign Builder Blue Button menu HTML -->
<!-- Begin Example Send next message when menu HTML -->
<div class="send-next-message-when-menu">
	<h2>Send next message when:</h2>
	<!-- One Send next message when content "row" (contains pills) -->
	<div class="send-next-message-when-content-row">
		<div class='send-next-message-when-content-row-content'>
			<div class="d-flex">
				<div class="send-next-message-when-pill blue-send-next-message-when-pill">
					<p>trigger1</p>
					<button><i class="fa fa-times"></i></button>
				</div>
				<span>AND</span>
			</div>
			<div class="d-flex">
				<div class="send-next-message-when-pill light-purple-send-next-message-when-pill">
					<p>time=14:30</p>
					<button><i class="fa fa-times"></i></button>
				</div>
				<span>OR</span>
			</div>
			<div class="d-flex">
				<div class="send-next-message-when-pill brown-send-next-message-when-pill">
					<p>tag removed=tag 3</p>
					<button><i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="delete-send-next-message-when-content-btn">
				<button><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
	<!-- end send next message when content "row" -->
	<!-- And/Or Buttons -->
	<div class="send-next-message-when-and-or-btns d-flex">
		<button class="send-next-message-when-and-or-btn active">
		AND
		</button>
		<button class="send-next-message-when-and-or-btn">
		OR
		</button>
	</div>
	<!-- End And/Or Buttons -->
	<!-- One Send next message when content "row" (contains pills) -->
	<div class="send-next-message-when-content-row">
		<div class='send-next-message-when-content-row-content'>
			<div class='bordered-pills grey-bordered-pills'>
				<div class="d-flex">
					<div class="send-next-message-when-pill blue-send-next-message-when-pill">
						<p>trigger1</p>
						<button><i class="fa fa-times"></i></button>
					</div>
					<span>AND</span>
				</div>
				<div class="d-flex">
					<div class="send-next-message-when-pill light-purple-send-next-message-when-pill">
						<p>time=14:30</p>
						<button><i class="fa fa-times"></i></button>
					</div>
					<span>OR</span>
				</div>
			</div>
			<div class="d-flex">
				<div class="send-next-message-when-pill brown-send-next-message-when-pill">
					<p>tag removed=tag 3</p>
					<button><i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="delete-send-next-message-when-content-btn">
				<button><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
	<!-- end send next message when content "row" -->
	<!-- And/Or Buttons -->
	<div class="send-next-message-when-and-or-btns d-flex">
		<button class="send-next-message-when-and-or-btn">
		AND
		</button>
		<button class="send-next-message-when-and-or-btn active">
		OR
		</button>
	</div>
	<!-- End And/Or Buttons -->
	<!-- One Send next message when content "row" (contains pills) -->
	<div class="send-next-message-when-content-row">
		<div class='send-next-message-when-content-row-content'>
			<div class='bordered-pills options-border'>
				<button class='close-option'><i class="fa fa-times"></i></button>
				<button class='timer-option'><i class="fa fa-clock-o"></i></button>
				<div class="d-flex">
					<div class="send-next-message-when-pill blue-send-next-message-when-pill">
						<p>trigger1</p>
						<button><i class="fa fa-times"></i></button>
					</div>
					<span>AND</span>
				</div>
				<div class="d-flex">
					<div class="send-next-message-when-pill light-purple-send-next-message-when-pill">
						<p>time=14:30</p>
						<button><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end send next message when content "row" -->
	<!-- Done Button -->
	<button class="send-next-message-when-done-btn">Done</button>
	<!-- end Done Button -->
</div>
<!-- End Example Send next message when menu HTML -->
<div class="clearfix"></div>
<!-- End Examples -->
{% endblock %}