{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/wowtools.css' %}">
	<script src="{% static 'js/utils.js' %}"></script>
</head>
<body class='login-body'>
	<section id="wrapper" class="login-register">
		<div class="login-box">
			<div class="white-box">
				<h1>Welcome to WOW!SMS</h1>
				<form action='/api/v1/login' method='post'>
					{% csrf_token %}
					<h3 class="box-title">Login</h3>
					<div class='form-group'>
						<div class='col-xs-12'>
							<input type='text' id='email' name='email' placeholder="Email" style='width: 100%; border: 1px solid lightgray; text-align: center'>
						</div>
					</div>
					<div class='form-group'>
						<div class='col-xs-12'>
							<input type='password' id='password' name='password' placeholder="Password" style='width: 100%; border: 1px solid lightgray; text-align: center'>
						</div>
					</div>
					<div class="form-group text-center m-t-20">
						<div class="col-xs-12">
							<button class="btn btn-login btn-block" type="submit" id='login'>Login</button>
						</div>
					</div>
					<div class="form-group m-b-0">
						<div class="col-sm-12 text-center">
							<p>Don't have an account yet? <a href="/register"><b>Sign up for one now!</b></a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="{% static 'js/login.js' %}"></script>
	<script>
		(function() {
			var login = $('#login'),
				password = $('#password'),
				email = $('#email');
			login.on('click', function() {
				data = {
					'email': email.val(),
					'password': password.val(),
					'csrfmiddlewaretoken': "{{ csrf_token }}"
				}
				console.log(data)
				$.post('/api/v1/login', data, function(data, response) {
					console.log(data)
				})
			})
		})();
	</script>
</body>
</html>
