{% extends 'base.html' %}
{% block dashboardClasses %}
no-padding no-margin full-width full-height
{% endblock %}
{% block content %}
<!-- Settings -->
<style>
	.hide-user {
		display: none !important;
	}
	.unhide-user {
		display: flex !important;
	}
</style>
<div class="settings">
	{% csrf_token %}
	<!-- Settings top header -->
	<div class="settings-top-header">
		<ul class="nav nav-tabs d-flex" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#details" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Details
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#ACAPIList" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Active Campaign API List
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#subscriptions" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Subscriptions
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#users" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Users
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#googleAccount" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Google Account
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#calendars" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Calendars
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#timeSlotSetup" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							Time Slot Setup
						</div>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#smsTimeLimits" role="tab">
					<!-- Usage of table for vertical centering -->
					<div class='table'>
						<div class='table-cell'>
							SMS Time Limits
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- End Settings top header -->
	<!-- Settings Page Content -->
	<div class="settings-page-content">
		<div class="tab-content">
			<!-- Details Tab -->
			<div class="tab-pane active" id="details" role="tabpanel">
				<!-- Details Tab Content -->
				<div class="settings-content">
					<!-- Details Form -->
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-6">
								<div class="settings-details-form">
									<div class="d-flex">
										<label>First Name</label>
										<input type="text" name="firstName" id='firstname' value='{{ user.firstname }}' oninput='validateName(this)'>
									</div>
									<div class="d-flex">
										<label>Last Name</label>
										<input type="text" name="lastName" id="lastname" value='{{ user.lastname }}' oninput='validateName(this)'>
									</div>
									<div class="d-flex contains-mobile">
										<label>Mobile</label>
										<select name="mobileExt" id='countryCode' selectedIndex=1>
											<option value="61">61</option>
											<option value="44">44</option>
											<option value='1'>1</option>
										</select>
										<input type="text" name="phoneNumber" id="phoneNumber" value='{{ user.mobile }}' oninput='validateNum(this)'>
									</div>
									<div class="d-flex">
										<label>Time Zone</label>
										<select name="timeZone" id='timeZone'>
											<option value="#">Select a time zone</option>
											<option value='utc'>UTC</option>
										</select>
									</div>
									<div class="d-flex">
										<label>Business name</label>
										<input type="text" name="businessName" value='{{ user.businessName }}' id='businessName'>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="settings-details-form">
									<div class="d-flex">
										<label>
										Business Address
										</label>
										<input type="text" placeholder="1 This Street" id='businessAddress' value='{{ user.businessAddress }}'>
										<button>find</button>
									</div>
									<div class='d-flex label-offset'>
										<label id='labelStreet1'>Street 1</label>
										<input type="text" name='street1' placeholder='street 1' id='street1' value='{{ user.street1 }}'>
									</div>
									<div class='d-flex label-offset'>
										<label id='labelStreet2'>Street 2</label>
										<input type="text" name='street2' id='street2' placeholder='street 2' value='{{ user.street2 }}'>
									</div>
									<div class='d-flex label-offset'>
										<label id='town-suburb'>Town, Suburb</label>
										<input type="text" name='town-suburb' id='town' value='{{ user.town }}'>
									</div>
									<div class='d-flex label-offset'>
										<label>Zip Code</label>
										<input type="text" name='zipCode' id='zipCode' value='{{ user.zipCode }}'>
									</div>
									<div class='d-flex label-offset'>
										<select name="Country" id="Country" value="{{ user.country }}">
											<option value='none'>Select Country</option>
											<option value="aU">Australia</option>
											<option value='GB'>Great Britain</option>
											<option value='US'>United States</option>
										</select>
									</div>
								</div>
							</div>
							<div class="settings-save-buttons">
								<div class='col'>
									<div class="d-flex">
										<script>var details = [
										"firstname","lastname", "countryCode","phoneNumber",
										"timeZone", "businessName","businessAddress",
										"street1","street2","town","zipCode", "Country"];
										detailsDestination='/api/v1/settings/details';</script>
										<button class='cancel-btn' onclick='clearData(details)'>Cancel</button>
										<button class="save-btn" onclick='sendRequest(details, detailsDestination)'>Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Details Form -->
				</div>
				<!-- End Details Tab Content -->
			</div>
			<!-- End Details Tab -->
			<!-- Active Campaign API List Tab -->
			<div class="tab-pane" id="ACAPIList" role="tabpanel">
				<!-- Active Campaign API List Content -->
				<div class="settings-content">
					<div class='container'>
						<div class='col'>
							<p>My Active Campaign API Key:</p>
							<div class='campaign-api-key-form'>
								<div class="d-flex">
									<input type="text" name="apiKey" id='apiKey' placeholder="Your API Key">
									<button type="submit">change</button>
								</div>
							</div>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<script>var apiKey = ["apiKey"], apiKeyDestination='/api/v1/settings/apiKey';</script>
									<button class='cancel-btn' onclick='clearData(apiKey)'>Cancel</button>
									<button class="save-btn" onclick='sendRequest(apiKey, apiKeyDestination)'>Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Active Campaign API List Content -->
			</div>
			<!-- End Active Campaign API List Tab -->
			<!-- Subscriptions Tab -->
			<div class="tab-pane" id="subscriptions" role="tabpanel">
				<!-- Subscriptions Content -->
				<div class="settings-content subscriptions-tab">
					<div class='container'>
						<div class="col subscription-col">
							<h2>Current Subscription: <strong>$47/month</strong></h2>
							<h2>Next Payment Due: <strong>23 January 2018</strong></h2>
							<a href="#">Change Subscription</a>
						</div>
						<div class="settings-save-buttons cancel-subscription">
							<div class='col'>
								<div class="d-flex">
									<button>Cancel Subscription</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Subscriptions Content -->
			</div>
			<!-- End Subscriptions Tab -->
			<!-- Users Tab -->
			<div class="tab-pane" id="users" role="tabpanel">
				<!-- Users Content -->
				<div class="settings-content">
					<div class="container">
						<div class="col">
							<div class="add-user-top-right">
								<div class='d-flex'>
									<button class="add-user-btn" id='add-user'>Add User</button>
									<div class="search-users">
										<input type="text" name="user-search" placeholder="Search Users..." id='search-users'>
										<i class="fa fa-search"></i>
									</div>
								</div>
							</div>
							<div class='col'>
								<p>Do you have any other staff or team members that you would like notifications to be emailed to:</p>
							</div>
							<div class='users-fields' id='users-field'>
								<div class="users-field d-flex user" id='user-field'>
									<div class="col">
										<label>First Name</label>
										<input type="text" name="#" id='userFirstName1' oninput='validateName(this)'>
									</div>
									<div class="col">
										<label>Last Name</label>
										<input type="text" name="#" id='userLastName1' oninput='validateName(this)'>
									</div>
									<div class="col">
										<label>Email address</label>
										<input type="text" name="#" id='userEmail1' oninput='validateEmail(this)'>
									</div>
									<div class="col user-settings-options">
										<ul>
											<li onclick='deleteUser(this)'>
												<button class='trash'><i class="fa fa-trash" id='delete-user'></i></button>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<script>
										var users = [
											"userFirstName1","userLastName1", "userEmail1",
											"userFirstName2", "userLastName2", "userEmail2",
											"userFirstName3", "userLastName3","userEmail3"
										];
										usersDestination ='/api/v1/settings/users';
									</script>
									<button class='cancel-btn' onclick='clearData(users)'>Cancel</button>
									<button class="save-btn" onclick='sendRequest(users, usersDestination)'>Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Users Content -->
			</div>
			<!-- End Users Tab -->
			<!-- Google Account Tab -->
			<div class="tab-pane" id='googleAccount' role='tabpanel'>
				<!-- Google Account Content -->
				<div class="settings-content">
					<div class="container">
						<div class="col">
							<div class="google-account-desc">
								<div class="d-flex">
									<div class='google-account-image'>
										<img src="http://via.placeholder.com/150x150">
									</div>
									<div class="google-account-information">
										<span class='google-account-status'>Google Account Connected</span>
										<span class="google-account-name">{{ user.firstname }} {{ user.lastname }}</span>
										<span class="google-account-email">{{ user.gmail }}</span>
										<a href="#">change</a>
									</div>
								</div>
							</div>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<button class='cancel-btn'>Cancel</button>
									<button class="save-btn">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Google Account Content -->
			</div>
			<!-- End Google Account Tab -->
			<!-- Calendars Tab -->
			<div class="tab-pane" id="calendars" role="tabpanel">
				<!-- Calendars Content -->
				<div class="settings-content calendars-content">
					<div class='container'>
						<div class='col'>
							<p>Select which google calendar you would like to use:</p>
							<select name="#" id="googleCalendar">
								<option value="">Select an Option</option>
								<option value="1">Google Calendar 1</option>
							</select>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<script>
										var googleCalendar = [
											"googleCalendar"
										];
										usersDestination ='/api/v1/settings/calendars';
									</script>
									<button class='cancel-btn' onclick='clearData(googleCalendar)'>Cancel</button>
									<button class="save-btn" onclick='sendRequest(googleCalendar, calendarDestination)'>Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Calendars Content -->
			</div>
			<!-- End Calendars Tab -->
			<!-- Time Slot Setup -->
			<div class="tab-pane" id="timeSlotSetup" role="tabpanel">
				<!-- Time Slot Setup Content -->
				<div class="settings-content time-slot-content">
					<div class='container'>
						<div class='col'>
							<div class="d-flex time-slot-flex">
								<p>What will your time slot be called:</p>
								<input type="text" id='timeSlotName'>
							</div>
							<div class="d-flex time-slot-flex time-slot-duration">
								<p>What duration are your time slots:</p>
								<input type="text" id='timeSlotDuration'>
								<p class='mins-time-slot-duration'>mins</p>
							</div>
							<div class="d-flex time-slot-flex time-slot-duration">
								<p>Can one slot be booked multiple times:</p>
								<select id="timeSlotMultiple" class='time-slot-multiple-times-select'>
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
							</div>
							<p>What days of week and hours can be booked:</p>
							<div class="days-of-week-can-be-booked">
								<div class="d-flex days-of-week-booked-title">
									<div class="day-title"></div>
									<p>from:</p>
									<p>to:</p>
									<p>exclude from:</p>
									<p>to:</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id='timeSlotEnabledMonday'>
										<p>Monday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromMonday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToMonday'>
									</p>
									<p>
										<input type="text" id='timeSlotExcludeFromMonday'>
									</p>
									<p>
										<input type="text" id='timeSlotExcludeFromToMonday'>
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledTuesday">
										<p>Tuesday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromTuesday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToTuesday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromTuesday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToTuesday">
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledWednesday">
										<p>Wednesday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromWednesday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToWednesday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromWednesday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToWednesday">
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledThursday">
										<p>Thursday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromThursday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToThursday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromThursday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToThursday">
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledFriday">
										<p>Friday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromFriday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToFriday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromFriday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToFriday">
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledSaturday">
										<p>Saturday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromSaturday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToSaturday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromSaturday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToSaturday">
									</p>
								</div>
								<div class="d-flex days-of-week-row">
									<div class="day-title d-flex">
										<input type="checkbox" id="timeSlotEnabledSunday">
										<p>Sunday</p>
									</div>
									<p>
										<input type="text" value='07:30' id='timeSlotFromSunday'>
									</p>
									<p>
										<input type="text" value="15:30" id='timeSlotToSunday'>
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromSunday">
									</p>
									<p>
										<input type="text" id="timeSlotExcludeFromToSunday">
									</p>
								</div>
							</div>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<script>
										var timeSlotSetupData = [
											"timeSlotName", "timeSlotDuration", "timeSlotMultiple",
											"timeSlotEnabledMonday", "timeSlotFromMonday", "timeSlotToMonday", "timeSlotExcludeFromMonday", "timeSlotExcludeFromToMonday",
											"timeSlotEnabledTuesday", "timeSlotFromTuesday", "timeSlotToTuesday", "timeSlotExcludeFromTuesday", "timeSlotExcludeFromToTuesday",
											"timeSlotEnabledWednesday", "timeSlotFromWednesday", "timeSlotToWednesday", "timeSlotExcludeFromWednesday", "timeSlotExcludeFromToWednesday",
											"timeSlotEnabledThursday", "timeSlotFromThursday", "timeSlotToThursday", "timeSlotExcludeFromThursday", "timeSlotExcludeFromToThursday",
											"timeSlotEnabledFriday", "timeSlotFromFriday", "timeSlotToFriday", "timeSlotExcludeFromFriday", "timeSlotExcludeFromToFriday",
											"timeSlotEnabledSaturday", "timeSlotFromSaturday", "timeSlotToSaturday", "timeSlotExcludeFromSaturday", "timeSlotExcludeFromToSaturday",
											"timeSlotEnabledSunday", "timeSlotFromSunday", "timeSlotToSunday", "timeSlotExcludeFromSunday", "timeSlotExcludeFromToSunday",
										];
										timeSlotSetupDestination ='/api/v1/settings/timeSlot';
									</script>
									<button class='cancel-btn' onclick='clearData(timeSlotSetupData)'>Cancel</button>
									<button class="save-btn" onclick='sendRequest(timeSlotSetupData, timeSlotSetupDestination)'>Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Time Slot Setup Content -->
			</div>
			<!-- End Time Slot Setup -->
			<!-- SMS Time Limits Tab -->
			<div class="tab-pane" id="smsTimeLimits" role="tabpanel">
				<!-- SMS Time Limits Content -->
				<div class="settings-content sms-time-limits-content">
					<div class='container'>
						<div class='col'>
							<p>By default, sms will be sent around the clock. Did you want to set an earliest and latest time for sms to be sent (better experience for your audience):</p>
							<div class="d-flex sms-time-flex">
								<label>earliest time</label>
								<input type="text" placeholder="08:30" id='SMSTimeLimitsEarliest'>
							</div>
							<div class="d-flex sms-time-flex">
								<label>latest time</label>
								<input type="text" placeholder="18:30" id='SMSTimeLimitsLatest'>
							</div>
						</div>
						<div class="settings-save-buttons">
							<div class='col'>
								<div class="d-flex">
									<script>
										var SMSTimeLimitsData = [
											"SMSTimeLimitsEarliest", "SMSTimeLimitsLatest"
										];
										SMSTimeLimitsDestination ='/api/v1/settings/SMSTimeLimits';
									</script>
									<button class='cancel-btn' onclick='clearData(SMSTimeLimitsData)'>Cancel</button>
									<button class="save-btn" onclick='sendRequest(SMSTimeLimitsData, SMSTimeLimitsDestination)'>Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End SMS Time Limits Content -->
			</div>
			<!-- End SMS Time Limits Tab -->
		</div>
	</div>
	<!-- End Settings Page Content -->
</div>
<!-- End Settings -->
{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script type='text/javascript' src='{% static "/js/settings.js" %}'></script>
<script type='text/javascript'>
	function sendRequest(array, dest) {
		var data = new Object;
		for (let i = 0; i < array.length; i++) {
			var thing = $(`#${array[i]}`)[0];
			data[array[i]] = $(thing).val()
		}
		console.log(data)
		data.csrfmiddlewaretoken = '{{csrf_token}}'
		$.post(dest, data, function(data, status) {
			console.log(data)
		});
	};
	function clearData(array) {
		for (let i = 0; i < array.length; i++ ) {
			var thing = $(`#${array[i]}`)[0];
			$(thing).val('')
		}
	}
</script>
{% endblock %}