{% extends 'base.html' %}
{% block content %}
<div class="d-flex flex-row buy-sms">
	<div class="col-4">
		<div class="individual">
			<h2>Buy 1000</h2>
			<h3>SMS Messages</h3>
			<hr>
			<p>$100</p>
			<hr>
			<button type="button" class="btn btn-info btn-lg modal-toggle" data-modal-function="buy1000">buy $100</button>					
		</div>
	</div>
	<div class="col-4">
		<div class="individual">
			<h2>Buy 5000</h2>
			<h3>SMS Messages</h3>
			<hr>
			<p>$400</p>
			<hr>
			<button type="button" class="btn btn-info btn-lg modal-toggle" data-modal-function="buy5000">buy $400</button>	
		</div>
	</div>
	<div class="col-4">
		<div class="individual">
			<h2>Buy Custom Ammount</h2>
			<h3>SMS Messages</h3>
			<form>
				How Many Messages:
				<input type="number" name="quantity" min="1">
			</form>
			<hr>
			<p>$36</p>
			<hr>
			<button type="button" class="btn btn-info btn-lg modal-toggle btn-different" data-modal-function="buy36">buy $36</button>	
		</div>
	</div>
</div>
<div class="d-flex justify-content-center flex-row buy-sms">
	<div class="col-4">
		<div class="individual ind-different">
			<h2 class='sms-buy-monthly-h2'>Buy Monthly</h2>
			<hr>
			<p>$47/Mo</p>
			<hr>
			<button type="button" class="btn btn-info btn-lg modal-toggle" data-modal-function="buy47">buy $47</button>				
		</div>
	</div>
	<div class="col-4">
		<h2 class='sms-best-value-indicator'>best value</h2>
		<div class="individual sms-best-value-individual">
			<h2>Buy Annual</h2>
			<h4>(25% Off)</h4>
			<hr>
			<p>$425/year</p>
			<hr>
			<button type="button" class="btn btn-info btn-lg modal-toggle" data-modal-function="buy425">buy $47</button>			
		</div>
	</div>
</div>
{% endblock %}
{% block modalContent %}
<!-- Stripe Overlay -->
<div class="stripe-overlay">
	<h2>I AM A STRIPE OVERLAY</h2>
	<p>A payment flow would be here</p>
	<p>I will fade out in 3 seconds</p>
</div>
<!-- End Stripe Overlay -->
<!-- Successful purchase modal -->
<div class='wowtools-modal purchase-modal' id='success-modal'>
	<div class="step first-step">
		<div class="table">
			<div class="table-cell">
				<div class="successful-action">
					<span>Subscription Confirmation Successful!</span>
					<div class="modal-icon">
						<i class="fa fa-check"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='back-to-dashboard-button'>
		<button class="back-to-dashboard-btn">Back to dashboard</button>
	</div>
</div>
<!-- Successful purchase modal -->
<!-- Buy 1000 Modal -->
<div class='wowtools-modal purchase-modal' id='buy1000'>
	<button class="back-btn" data-next-step="closeModal">Back</button>
	<div class='step first-step contains-form' id='buy100-home-step' 
		data-prev-step="closeModal" 
		data-next-step="closeModal"
		data-form="buy1000Form"
		>
		<h2>Hey Nathan, you're buying:</h2>
		<span class="sms-purchase-information">1000 Messages Pack at $100</span>
		<div class="sms-how-many d-flex">
			<form action='#' id='buy1000Form' method='POST'>
				<label>How many packs:</label>
				<select name="#">
					<option value="1">1</option>
				</select>
			</form>
		</div>
	</div>
	<button class="next-btn payment-btn">Pay $100</button>
</div>
<!-- End Buy 1000 modal -->
<!-- Buy 5000 Modal -->
<div class='wowtools-modal purchase-modal' id='buy5000'>
	<button class="back-btn" data-next-step="closeModal">Back</button>
	<div class='step first-step contains-form' id='buy100-home-step' 
		data-prev-step="closeModal" 
		data-next-step="closeModal"
		data-form="buy5000Form"
		>
		<h2>Hey Nathan, you're buying:</h2>
		<span class="sms-purchase-information">5000 Messages Pack at $400</span>
		<div class="sms-how-many d-flex">
			<form action='#' id='buy5000Form' method='POST'>
				<label>How many packs:</label>
				<select name="#">
					<option value="1">1</option>
				</select>
			</form>
		</div>
	</div>
	<button class="next-btn payment-btn">Pay $400</button>
</div>
<!-- End Buy 5000 modal -->
<!-- Buy 36 Modal -->
<div class='wowtools-modal purchase-modal' id='buy36'>
	<button class="back-btn" data-next-step="closeModal">Back</button>
	<div class='step first-step contains-form' id='buy100-home-step' 
		data-prev-step="closeModal" 
		data-next-step="closeModal"
		data-form="buy36Form"
		>
		<h2>Hey Nathan, you're buying:</h2>
		<span class="sms-purchase-information">36 Messages Pack at $36</span>
		<div class="sms-how-many d-flex">
			<form action='#' id='buy36Form' method='POST'>
				<label>How many packs:</label>
				<select name="#">
					<option value="1">1</option>
				</select>
			</form>
		</div>
	</div>
	<button class="next-btn payment-btn">Pay $36</button>
</div>
<!-- End Buy 36 modal -->
<!-- Buy 47 Monthly Modal -->
<div class='wowtools-modal purchase-modal' id='buy47'>
	<button class="back-btn" data-next-step="closeModal">Back</button>
	<div class='step first-step contains-form' id='buy100-home-step' 
		data-prev-step="closeModal" 
		data-next-step="closeModal"
		data-form="buy47Form"
		>
		<h2>Hey Nathan, you're buying:</h2>
		<span class="sms-purchase-information"> Monthly WOW!SMS at $47/month</span>
		<div class="sms-discount d-flex">
			<form class='monthly-wow-sms' action='#' id='buy47Form' method='POST'>
				<label>Have a discount code? Enter it Here:</label>
				<div class='d-flex'>
					<input type="text" id="fname" name="fname">
					<button class='apply-discount' type="submit">update price</button>
				</div>
			</form>
		</div>
	</div>
	<button class="next-btn payment-btn">Pay $47/month</button>
</div>
<!-- End Buy 47 Monthly modal -->
<!-- Buy 425 Yearly Modal -->
<div class='wowtools-modal purchase-modal' id='buy425'>
	<button class="back-btn" data-next-step="closeModal">Back</button>
	<div class='step first-step contains-form' id='buy100-home-step' 
		data-prev-step="closeModal" 
		data-next-step="closeModal"
		data-form="buy425Form"
		>
		<h2>Hey Nathan, you're buying:</h2>
		<span class="sms-purchase-information"> Monthly WOW!SMS at $425/year</span>
		<div class="sms-discount d-flex">
			<form class='monthly-wow-sms' action='#' id='buy425Form' method='POST'>
				<label>Have a discount code? Enter it Here:</label>
				<div class='d-flex'>
					<input type="text" id="fname" name="fname">
					<button class='apply-discount' type="submit">update price</button>
				</div>
			</form>
		</div>
	</div>
	<button class="next-btn payment-btn">Pay $425/month</button>
</div>
<!-- End Buy 425 Yearly modal -->
{% endblock %}
{% block scripts %}
<script>
	Site.init('sms');
</script>
{% endblock %}