html {
	height: 100%;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.clearfix {
	clear: both;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.full-width {
	width: 100% !important;
	max-width: 100% !important;
}
.full-height {
	min-height: 100% !important;
}

/**
 * Login and Register Pages
 */
.login-body {
	background: #2F64A6;
}
.login-box {
  width      : 400px;
  margin     : 10% auto 0;
  background : #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}
.white-box {
  margin-bottom : 30px;
  padding       : 25px;
  border        : 1px solid #e5ebec;
  border-radius : 10px;
  background    : #fff;
}
.white-box .box-title {
  margin      : 10px 0 12px;
  font-size   : 18px;
  font-weight : 600;
}
.white-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.white-box .form-group {
  margin-bottom : 17px;
}
.white-box .form-group input {
  -webkit-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.white-box .form-group button {
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.white-box .form-group .btn-login {
  background: #65CC59;
  color: #fff;
}
.white-box .form-control {
  max-width        : 100%;
  height           : 38px;
  padding          : 7px 12px;
  color            : #565656;
  border           : 1px solid #e5ebec;
  border-radius    : 0;
  background-color : #fff;
  box-shadow       : none;
}

/**
 * Styles used for each dashboard element
 */
.dashboard-body {
	min-height: 100%;
	height: 100%;
}

.dashboard {
	min-height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.dashboard-header {
	background: #2F64A6;
	padding-top: 12.5px;
	padding-bottom: 20px;
	z-index: 12;
	position: relative;
}

.dashboard-body {
	flex: 1;
}

.dashboard-content {
	max-height: 100vh;
	overflow: scroll;
	flex: 1;
	box-sizing: border-box;
	-webkit-box-shadow: -3px -1px 40px 0px rgba(170,170,170,1);
	-moz-box-shadow: -3px -1px 40px 0px rgba(170,170,170,1);
	box-shadow: -3px -1px 40px 0px rgba(170,170,170,1);
}

.dashboard-container {
	max-width: 95%;
	margin: 0 auto;
	padding-top: 30px;
	max-height: 100%;
}

.dashboard-title {
	border-bottom: 1px solid #8a8a8a;
	padding-bottom: 5px;
}

.dashboard-title h1 {
	font-weight: bolder;
	font-size: 1.75em;
	text-transform: uppercase;
	color: #8a8a8a;
	flex: 1;
	line-height: 40px;
}

.dashboard-title a {
	background: #2F64A6;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 14px;
}

/**
 * Modal Code
 */
.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9;
	display: none;
}
.modal-container .table {
	box-sizing: border-box;
}
.wowtools-modal {
	position: relative;
	background: #fff;
	padding: 40px 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
	display: none;
	min-height: 550px;
}
.wowtools-modal h2 {
	color: #444;
	margin-bottom: 40px;
}
.wowtools-modal .table {
	padding-top: 0 !important;
}
.wowtools-modal .step {
	display: none;
	position: relative;
}
.wowtools-modal .step.active {
	display: block !important;
}
.wowtools-modal form {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}
.wowtools-modal form input[type='file'] {
	display: none;
}
.wowtools-modal form input[type='text'] {
	width: 45%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid #a0a0a0;
}
.wowtools-modal .d-flex {
	padding-bottom: 10px;
}
.wowtools-modal form .fake-file-upload {
	width: 45%;
	background: #2F64A6;
	color: #fff;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.wowtools-modal form .fake-file-upload label {
	margin-bottom: 0;
	padding-bottom: 0;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.wowtools-modal label {
	width: 25%;
	white-space: nowrap;
	line-height: 40px;
	height: 40px;
	text-align: left;
	font-size: 15px;
}
.wowtools-modal select {
	width: 45%;
	line-height: 40px;
	height: 40px;
	border-radius: 0;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 14px;
	border: 1px solid #a0a0a0;
	background: transparent;
}
.modal-actions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 0;
}
.back-btn {
	width: 200px;
	height: 40px;
	line-height: 38px;
	background: transparent;
	cursor: pointer;
	box-sizing: border-box;
	border: 2px solid #2F64A6;
	padding: 0;
	color: #2F64A6;
	font-weight: bolder;
	text-transform: uppercase;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.back-btn:hover {
	color: #fff;
	background: #2F64A6;
}
.modal-actions .back-btn {
	float: left;
}
.next-btn {
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #65CC59;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;
	color: white;
	border: 0;
	font-weight: bolder;
	text-transform: uppercase;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.modal-actions .next-btn {
	float: right;
}
.modal-actions .cancel-btn {
	color: #ff4136;
	border: 2px solid #ff4136;
}
.modal-actions .cancel-btn:hover {
	background: #ff4136;
}
.modal-icon {
	font-size: 4em;
	border: 1px solid black;
	width: 125px;
	height: 125px;
	line-height: 125px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	border-radius: 99999px;
	margin-top: 20px;
}
.successful-action .modal-icon {
	color: #65CC59;
	border: 1px solid #65CC59;
}
.successful-action span {
	font-size: 20px;
	color: #65CC59;
	display: block;
	padding-bottom: 20px;
	font-size: 2em;
	font-weight: bolder;
	padding-top: 70px;
}
.successful-action p {
	max-width: 700px;
	margin: 0 auto;
	color: #666;
	font-style: italic;
	font-size: 17px;
}
.back-to-dashboard-button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.back-to-dashboard-btn {
	height: 70px;
	text-align: center;
	line-height: 70px;
	background: #2F64A6;
	color: #FFF;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.5em;
	cursor: pointer;
	font-weight: bolder;
	border: 0;
}
/**
 * Trial Information in header
 */
.trial-information {
	text-align: center;
	color: #fff;
}

.trial-information p {
	margin-bottom: 0;
}

.trial-information .trial-deadline {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.buy-now-link {
	width: 100%;
	max-width: 150px;
	display: block;
	background: #65CC59;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 7.5px 0;
	margin-left: auto;
	margin-right: auto;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.buy-now-link:hover {
	text-decoration: none;
	background: #3fa633;
	color: #fff;
}

/**
 * Log out button
 */
.log-out {
	text-align: right;
	padding-top: 15px;
}

.log-out-link {
	max-width: 200px;
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #fff;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: lighter;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.log-out-link:hover {
	background: #fff;
	color: #2F64A6;
	text-decoration: none;
}

/**
 * Profile Information
 */
.profile-information {
	position: relative;
}
.profile-information img {
	-webkit-border-radius: 999px;
	border-radius: 999px;
	max-width: 85px;
	max-height: 85px;
}
.profile-information p {
	margin-top: 50px;
	margin-left: 15px;
	margin-bottom: 0;
	color: #fff;
}

/**
 * Sidebar
 */
.sidebar {
	min-height: 100%;
	width: 225px;
	background: #F8F8F8;
	padding-top: 10px;
}
.sidebar-information {
	margin-left: 20px;
	box-sizing: border-box;
	padding-right: 20px;
}
.sidebar-information img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 9999px;
}
.sidebar-business-name {
	color: #2F64A6;
	padding-top: 10px;
	display: block;
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 0;
	padding-bottom: 0;
}
.sidebar-person-name {
	font-size: 17px;
	color: #2F64A7;
	display: block;
	padding-top: 3px;
	border-bottom: 1px solid #666;
	padding-bottom: 20px;
}

.sidebar ul {
	padding: 0;
	padding-left: 20px;
}

.sidebar ul li {
	margin-bottom: 20px;
}

.sidebar nav {
	flex: 1;
}

.sidebar ul li {
	display: block;
}

.sidebar a {
	color: #666;
	text-transform: uppercase;
	font-size: 17px;
}

.sidebar a.active-link {
	color: #2F64A6;
}

.sidebar a:hover {
	color: #2F64A6;
	text-decoration: none;
}

.bottom-link {
	padding-bottom: 20px;
	padding-left: 20px;
}

.credit-remaining {
	font-size: 13px;
	padding-top: 3px;
	display: block;
	width: 100%;
	color: #666;
}

/**
 * Audience
 */
.audience-main {
	flex: 1;
	padding-top: 15px;
	margin-bottom: 40px;
}
.audience-left-side {
	flex: 1;
}
.audience-top-bar {
	align-items: flex-end;
	text-align: center;
}
.audience-top-bar span {
	font-size: 13px;
	color: #666;
}
.audience-top-bar .contains-nav-tabs {
	flex: 1;
}
.audience-bulk-actions span {
	border: 1px solid #666;
	padding: 0 2.5px;
	display: block;
	height: 30px;
	line-height: 30px;
}
.audience-top-bar .item {
	margin-right: 5px;
	align-self: bottom;
}
.audience-top-bar .item .nav-tabs {
	border-bottom: 0;
	display: flex;
}
.audience-top-bar .item .nav-tabs .nav-item {
	width: 50%;
	box-sizing: border-box;
}
.audience-top-bar .item .nav-tabs .nav-link {
	border: 1px solid #c0c0c0;
	border-radius: 0;
	border-right: 0;
	padding: 0;
	text-transform: uppercase;
	background: #DFE0E2;
	color: #888;
	height: 100%;
	font-size: 15px;
}
.audience-top-bar .item .nav-tabs .nav-link.active {
	background: #1F65AC;
	color: #fff;
}
.audience-top-bar .item .nav-tabs .nav-link.border-right {
	border-right: 1px solid #c0c0c0;
}
.audience-top-bar .item .green-btn {
	font-size: 14px;
	color: #fff;
	background: #25D141;
	border: 0;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	padding: 0 5px;
}
.audience-top-bar-btn {
	background: #f0f0f0;
}
.audience-top-bar-btn button {
	color: #888;
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 5px;
	font-size: 14px;
}
.audience-sidebar {
	width: 320px;
	box-sizing: border-box;
	padding-left: 10px;
	margin-bottom: 40px;
}
.audience-sidebar-header {
	background: #F8F8F8;
	width: 100%;
	padding: 10px;
	font-size: 15px;
}
.audience-sidebar-header-contains-all {
	flex: 1;
}
.audience-sidebar-header span {
	text-align: right;
	float: right;
	display: block;
	color: #888;
}
.audience-sidebar-information {
	background: #F9FAFC;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 30px 20px;
	padding-bottom: 0;
}
.audience-sidebar-information-title {
	padding-bottom: 15px;
}
.audience-sidebar-information-title h2 {
	flex: 1;
	font-size: 17px;
}
.audience-sidebar-information-title span {
	font-size: 15px;
	color: #888;
}
.audience-sidebar-information-row.no-subscribers {
	color: #888;
}
.audience-sidebar-information-row p {
	font-size: 15px;
	margin-bottom: 0;
	flex: 1;
}
.audience-sidebar-information-row span {
	font-size: 15px;
	float: right;
}
.active-campaign-sync {
	padding-top: 20px;
	width: 90%;
	margin: 0 auto;
}
.active-campaign-sync-p {
	line-height: 35px;
	padding-left: 15px;
	color: #888;
}
.audience-sidebar-information--show-all_p {
	text-align: center;
	padding-bottom: 20px;
}
.audience-sidebar-information-show-all_btn {
	color: #48A9FF;
}
 /**
 * Audience Individual Add
 */
.audience-individual-add {
	padding-top: 40px;
}
.individual-add-audience {
	padding-top: 20px;
}
.individual-add-audience label,
.individual-add-audience input {
	margin-right: 15px;
	height: 32.5px;
	font-size: 14px;
	line-height: 32.5px;
}
.individual-add-audience label {
	white-space: nowrap;
}
.individual-add-audience input {
	box-sizing: border-box;
	padding-left: 10px;
	flex: 1;
}
.individual-add-audience ul {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 120px;
}
.individual-add-audience ul li {
	display: inline-block;
	margin-right: 5px;
}
.individual-add-audience ul li button {
	width: 32.5px;
	height: 32.5px;
	line-height: 31px;
	border: 0;
	background: transparent;
	color: #fff;
	cursor: pointer;
}
.individual-add-audience ul li button.trash {
	background: #ff4136;
}
.individual-add-audience ul li button.plus {
	background: #27D23F;
}
.individual-add-audience select {
	height: 32.5px;
	line-height: 32.5px;
	margin-right: 10px;
}
.add-audience-form .submit-btn {
	float: right;
	margin-top: 20px;
	background: #27D23f;
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
	border: 0;
	padding: 0;
}
/**
 * Invisible Button Audience-2 Sync
 */
.invisible-button {
  background-color: Transparent;background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
/**
* Audience Sync Modal
*/
#audienceSyncModal form {
	max-width: 100%;
	width: 100%;
}
#audienceSyncModal .individual-audience-sync label,
#audienceSyncModal .individual-audience-sync input {
  margin-right: 15px;
  height: 32.5px;
  font-size: 14px;
  line-height: 32.5px;
  width: auto;
}
.individual-audience-sync ul {
	margin-left: 0;
	text-align: right;
	max-width: 35px;
	padding-left: 0;
}
.individual-audience-sync ul li {
	display: inline-block;
}
.individual-audience-sync input {
	box-sizing: border-box;
	padding-left: 10px;
}
.individual-audience-sync .invalid-input {
	border: 2px solid #ff4136;
}
.individual-audience-sync label {
  white-space: nowrap;
}
.individual-audience-sync select {
	height: 32.5px;
	line-height: 32.5px;
	width: auto;
	flex: 1;
	margin-right: 10px;
}
.individual-audience-sync button {
	width: 35px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	border: 0;
	background: transparent;
	color: #fff;
	cursor: pointer;
}
.individual-audience-sync button.trash {
	background: #ff4136;
}
.individual-audience-sync button.plus {
	background: #27D23f;
}
.individual-audience-sync .submit-btn {
	float: right;
	margin-top: 20px;
	background: #27D23f;
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
	border: 0;
	padding: 0;
}
/**
 * Audience Table
 */
.audience-table {
	border: 1px solid #c6d0e3;
	border-bottom: 0;
	margin-right: 0.5%;
	border-radius: 3px;
}
.audience-table-row {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #F9FAFC;
	border-bottom: 1px solid #c6d0e3;
	padding: 15px 10px;
	min-height: 80px;
}
.audience-table-row .col,
.audience-table-row .image-col,
.audience-table-row .checkbox-col {
	align-items: center;
	display: flex;
	align-content: center;
}
.audience-table-row .image-col,
.audience-table-row .options-col {
	width: 80px;
}
.audience-table-row .checkbox-col {
	width: 70px;
}
.audience-table-row .image-col p {
	width: 100%;
	text-align: center;
}
.audience-table-row p {
	font-size: 13px;
	margin-bottom: 0;
}
.audience-table-row .subscriber {
	color: #369647;
}
.audience-table-row .not-subscribed {
	color: #ff4136;
}
.audience-table-row img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 9999px;
}
.audience-table-header {
	padding: 7.5px 10px;
	min-height: auto;
}
.audience-table-header p {
	margin-bottom: 0;
	padding-bottom: 0;
	color: #444;
	font-weight: bolder;
	font-size: 13px;
}
/**
 * Specific CSS for the Audience Tab Table
 */
.audience-tab-table {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #c6d0e3;
	border-left: 1px solid #c6d0e3;
}
.audience-tab-table .col {
	padding: 0 !important;
}
.audience-tab-table .col-content {
	border: 1px solid #c6d0e3;
	border-left: 0;
	border-bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 15px;
	height: 100%;
	align-items: center;
}
.audience-options {
	text-align: center;
	width: 100%;
}
.audience-options .trash-icon {
	color: #ff4136;
}
.audience-options .copy-icon {
	color: #3B79AF;
}
.audience-options i {
	margin: 0 2.5px;
}
.audience-tab-table .audience-table-row {
	min-height: auto;
	padding: 0;
	border-bottom: 0;
}
.audience-tab-table .audience-table-body .col-content {
	padding: 10px 15px;
	min-height: 100px;
}
.audience-tab-table .audience-table-body .col-content p i {
	margin-left: 5px;
	color: #2F64A6;
}
.audience-csv-information {
	background: #2F64A6;
	width: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	align-items: center;
}
.audience-csv-information p {
	color: #fff;
	flex: 1;
}
.audience-csv-details {
	float: right;
	text-align: right;
}
.audience-csv-details span {
	width: 100%;
	display: block;
	color: #fff;
	font-size: 13px;
}
.audience-csv-details .green {
	color: #29D872;
}
.audience-csv-details .red {
	color: #D97B7D;
}
/**
 * Audience Modals 
 */
.home-buttons {
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.home-buttons button {
	background: #1D63A9;
	border: 0;
	color: #fff;
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	cursor: pointer;
}
.audience-sync-form {
	padding-left: 15px;
	width: 30%;
	align-items: center;
}
.audience-sync-form .sync-indicator {
	width: 70px;
}
.audience-sync-form p {
	font-size: 12px;
	padding-left: 10px;
	flex: 1;
	text-align: left;
	margin-bottom: 0;
}
.audience-sync-form .sync-indicator span {
	font-size: 11px;
	text-transform: uppercase;
}
.upload-progress-bar-step-content span {
	margin-bottom: 40px;
}
.upload-progress-bar-step-content .progress {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	background: #B7B7B7;
	position: relative;
}
.upload-progress-bar-step-content .progress span {
	margin-bottom: 0;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 40px;
	font-size: 17px;
	display: block;
	position: absolute;
}
.upload-progress-bar-step-content .progress-bar {
	height: 40px;
	line-height: 40px;
	background: #1D63A9;
}
.legal-statement p {
	text-align: left;
	width: 90%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.legal-statement .agree-statement {
	text-align: right;
}
.legal-statement .agree-statement label {
	text-transform: uppercase;
	height: auto;
	line-height: 1;
	cursor: pointer;
	font-size: 17px;
	text-align: right;
}
.legal-statement .agree-statement input {
	margin-right: 10px;
}
/**
 * Sync indicator for Active Campaign
 */
.sync-indicator {
	width: 85px;
	line-height: 25px;
	text-align: right;
	height: 35px;
	border-radius: 9999px;
	background: #F6081B;
	position: relative;
	cursor: pointer;
}
.sync-indicator.active {
	background: #65CC59;
}
.sync-indicator .slide {
	background: #fff;
	height: 22.5px;
	margin-top: 6.5px;
	width: 22.5px;
	border-radius: 9999px;
	float: left;
	margin-left: 10px;
}
.sync-indicator span {
	line-height: 35px;
	padding-right: 12.5px;
	color: #fff;
	display: block;
	float: right;
	flex: 1;
}
/**
 * Purchase SMS CSS
 */
.sms-section {
	box-sizing: border-box;
	background: #F1F1F1;
	padding-top: 40px;
	margin-bottom: 40px;
	border: 1px solid #a0a0a0;
}
.sms-section-header {
	width: 100%;
	background: #959595;
	box-sizing: border-box;
	padding: 10px 20px;
	max-width: 92.75%;
	margin: 0 auto;
}
.sms-section-header h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
}
.buy-sms {
	margin: 40px auto;
	text-align: center;
}
.sms-title {
	background: #2F64A6;
	width: 100%;
	display: block;
	color: #fff;
	font-weight: bolder;
	font-size: 30px;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
}
.buy-sms .sms-individual {
	border: 1px solid #ACACAC;
	width: 85%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background: #F9F9F9;
}
.buy-sms .sms-individual h2{
	padding-top: 30px;
	color: #3E4245;
	font-size: 1.4em;
	display: block;
	margin-left: auto;
	font-weight: bolder;
	margin-right: auto;
	margin-bottom: 10px;
}
.buy-sms .sms-individual h3{
	color: #3E4245;
	width: 200px;
	font-size: 1.4em;
	margin-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
}
.buy-sms .sms-individual h4 {
	margin-bottom: 50px;
	font-weight: normal;
	font-size: 1.2em;
	padding-top: 5px;
	color:#25D141;
}
.buy-sms .sms-individual hr{
	max-width: 250px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(153, 153, 153, 0), rgba(153, 153, 153, 0.75), rgba(153, 153, 153, 0));
}
.buy-sms .sms-individual p {
	font-size: 1.6em;
	font-weight: bold;
	color: #3065A6;
}
.buy-sms .sms-individual a {
	margin-top: 100px;
	display: block;
	background: #25D141;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	line-height: 55px;
	height:55px;
	margin-bottom: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 2px;
	border-right: 1px solid #3d3d3d;
	border-bottom: 1px solid #3d3d3d;
}
.buy-sms .sms-individual button {
	margin-top: 80px;
	margin-bottom: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 2px;
	border-right: 1px solid #3d3d3d;
	border-bottom: 1px solid #3d3d3d;
	border-radius: 0;
	background: #25D141;
	width: 200px;
	cursor: pointer;
}
.buy-sms .sms-individual button.btn-different {
	margin-top:10px;
}
.buy-sms .sms-individual button.sms-best-value-btn {
	margin-top: 69px;
}
.buy-sms .sms-individual a:hover {
	text-decoration: none;
}
.buy-sms .sms-individual form input {
	height:30px;
	text-align: center;
	font-size: 1.3em;
	width: 140px;
}
.sms-buy-custom-btn {
	margin-top: 10px !important;
}
.sms-buy-monthly-h2 {
	margin-bottom: 75px !important;
}
.buy-sms .sms-best-value-indicator {
	position:absolute; 
	font-size: 1.3em; 
	text-transform: uppercase; 
	margin-left: 120px; 
	margin-top: 15px; 
	color:#fff;
}
.buy-sms .sms-best-value-individual {
	border-top: 50px solid #3065A6;
}
/**
 * Custom modal styles for purchasing SMS
 */
.purchase-modal {
	position: relative;
}
.purchase-modal .back-btn {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 20px;
	z-index: 99;
}
.purchase-modal .next-btn {
	position: absolute;
	height: auto;
	line-height: 1;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}
.purchase-modal h2 {
	padding-top: 80px;
}
.sms-purchase-information {
	font-size: 30px;
	padding-top: 40px;
	color: #2F64A6;
}
.sms-how-many {
	max-width: 225px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.sms-how-many label {
	width: 60%;
	flex: 1;
}
.sms-how-many select {
	width: 30%;
}

.sms-discount {
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sms-discount label {
	flex: 1;
	text-align: center;
	width: 100%;
}
.sms-discount [input=text] {
	width:100%;
}
.sms-discount button {
	width:200px;
	background: #fff;
	border: 3px solid #65CC59;
	color: #65CC59;
	font-weight: 600;
}
.monthly-wow-sms {
	max-width: 400px !important;
	width: 100% !important;
}
.monthly-wow-sms input {
	margin-right: 20px;
	width: 100% !important;
}
.stripe-overlay {
	display: none;
	background: #fff;
	padding: 40px 20px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
.stripe-overlay button {
	cursor: pointer;
}

.top-button {
	float: right;
}
.top-button button {
	background: #65CC59;
	color:#fff;
	border: 0;
	text-transform: uppercase;
	font-size: 0.9em;
	height:35px;
	line-height: 35px;
	width:130px;
	cursor: pointer;
}
.top-button-sequences {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.button-col {
	padding-right: 0;
}

/**
 * SMS Pricing Calculator
 */
.sms-pricing-calculator {
	max-width: 95%;
	margin: 30px auto;
	background: #f1f1f1;
	padding: 80px 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
	margin-top: 0;
}
.sms-pricing-calculator-content {
	max-width: 700px;
	margin: 0 auto;
}
.sms-pricing-calculator-instructions {
	background: #fff;
	width: 100%;
	text-align: center;
	border: 1px solid #a0a0a0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.sms-pricing-calculator-instructions p,
.sms-pricing-calculator-instructions label {
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: bolder;
	color: #666;
}
.sms-pricing-calculator-instructions p {
	font-style: italic;
}
.sms-pricing-calculator-instructions label {
	margin-bottom: 10px;
	font-style: normal;
	font-size: 24px;
	display: block;
	width: 100%;
}
.sms-pricing-calculator-instructions select  {
	width: 100%;
	max-width: 300px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
	background: #f1f1f1;
	text-align: center;
}
.rest-assured-pricing-calculator p {
	font-style: normal;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
	flex: 1;
}
.rest-assured-pricing-calculator img {
	margin-right: 5px;
}
.rest-assured-pricing-calculator .d-flex {
	max-width: 90%;
	margin: 0 auto;
}
.sms-pricing-calculator-modal {
	padding: 0;
	position: relative;
}
.sms-pricing-calculator-flex {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
}
.sms-pricing-calculator-modal h2 {
	text-align: left;
	margin-bottom: 0;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #444;
}
.sms-pricing-calculator-modal-header {
	position: relative;
	padding-top: 20px;
}
.sms-pricing-calculator-modal-header button {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	cursor: pointer;
	font-size: 20px;
	margin-right: 30px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	background: transparent;
	width: 40px;
	text-align: center;
	color: #fff;
	border: 0;
	background: #444;
	border-radius: 9999px;
}
.sms-pricing-calculator-modal-content {
	padding: 10px 30px;
	box-sizing: border-box;
	flex: 1;
	overflow: scroll;
}
.sms-pricing-calculator-modal-content p {
	text-align: left;
	line-height: 1.6;
}
.sms-pricing-calculator-modal-content form {
	width: 100%;
	max-width: 100%;
}
.sms-pricing-calculator-modal-footer {
	text-align: center;
	position: relative;
}
.sms-pricing-calculator-modal-footer hr {
	margin-top: 0;
	margin-bottom: 20px;
}
.sms-pricing-calculator-modal-footer p {
	font-weight: lighter;
	font-size: 30px;
	display: inline-block;
	margin-right: 10px;
}
.sms-pricing-calculator-modal-footer span {
	font-weight: bolder;
	font-size: 30px;
	display: inline-block;
}
.sms-pricing-calculator-modal-footer button {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 30px;
	background: #65CC59;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	padding: 10px 30px;
	cursor: pointer;
	font-weight: bolder;
}
.pricing-calculator-modal-table-header {
	font-weight: bolder;
	border-bottom: 2px solid #a0a0a0;
}
.pricing-calculator-modal-table-header div,
.pricing-calculator-modal-table-row div {
	padding-left: 10px;
	text-align: center;
	padding-right: 10px;
}
.pricing-calculator-modal-table-destination-country {
	width: 30%;
	text-align: left !important;
}
.pricing-calculator-modal-table-price-per-text,
.pricing-calculator-modal-table-number-of-texts,
.pricing-calculator-modal-table-cost {
	width: 21.6666667%;
}
.pricing-calculator-table-option {
	width: 5%;
	text-align: center;
	color: #666;
}
.pricing-calculator-table-option button {
	padding: 0;
	border: 0;
	background: transparent;
}
.pricing-calculator-modal-table-row {
	border-bottom: 1px solid #a0a0a0;
	padding-top: 10px;
	align-items: center;
}
.pricing-calculator-modal-table-row select {
	width: 100%;
}
.pricing-calculator-modal-table-row input {
	border-radius: 4px;
	width: 100%;
}
.pricing-calculator-modal-table-total-cost-row {
	border-bottom: 0;
	padding-top: 20px;
}
.pricing-calculator-modal-table-total-cost-row a em {
	font-style: normal;
	text-decoration: underline;
}

/**
 * Sequences
 */
.sequences {
	margin-top: 20px;
	border: 1px solid #E4E4E4;
	width:95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	color:#4E4F51;
	background: #FCFCFC;
}
.btn-sequences {
	text-align: center;
	background-color: inherit;
}
.sequences-item {
	border-bottom: 1px solid #E4E4E4;
}
.sequences-item-first {
	border-bottom: 1px solid #E4E4E4;
	font-weight: 600;
}
.sequences-name {
	padding-left: 20px;
	height: 55px;
	line-height:50px;
}
.sequences-name .col-2 h6{
	float: right;
}
.sequences-name .col-2 p{
	float: right;
}
.sequences-name .col-1 i{
	color: red;
	text-align: center;
}
/**
 * Custom modal styles for sequences
 */
.sequence-modal {
	margin-top: 150px;
}
.sqnce-btn {
	width: 150px;
	height: 40px;
	line-height: 38px;
	background: #2F64A6;
	cursor: pointer;
	box-sizing: border-box;
	border: 2px solid #2F64A6;
	padding: 0;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
	margin-right: 100px;
}
.sqnce-btn-dlt {
	width: 150px;
	height: 40px;
	line-height: 38px;
	background: #FE0000;
	cursor: pointer;
	box-sizing: border-box;
	border: 2px solid #FE0000;
	padding: 0;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}
.sqnce-btn-dlt:hover {
	background: #FE0000;
}

/**
 * Settings page
 */
.settings-top-header .nav-tabs .nav-item {
	flex: 1;
}
.settings-top-header .nav-tabs .nav-item .nav-link {
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
	color: #666;
	background: #DCDCDC;
	border-radius: 0;
	border: 0;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}
.settings-top-header .nav-tabs .nav-item .nav-link.active {
	background: #2F64A6;
	color: #fff;
}
.settings-page-content {
	position: relative;
}
.settings-page-content .tab-pane {
	position: relative;
	min-height: 100%;
}
.settings-content {
	max-width: 95%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 120px;
}
.settings-details-form .d-flex {
	padding-bottom: 30px;
}
.settings-details-form label {
	width: 30%;
	margin-bottom: 0;
	line-height: 30px;
}
.settings-details-form input {
	width: 57.5%;
	border: 1px solid #666;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 10px;
}
.settings-details-form button {
	width: 10%;
	margin-left: 15px;
	border: 2px solid #25D141;
	background: transparent;
	color: #25D141;
	font-weight: bolder;
	box-sizing: border-box;
	height: 30px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.settings-details-form button:hover {
	background: #25D141;
	color: #fff;
}
.settings-details-form select {
	background: transparent;
	border: 1px solid #666;
	border-radius: 0;
	height: 30px;
	line-height: 30px;
	width: 57.5%;
}
.contains-mobile input {
	margin-left: 20px;
	width: 43.75%;
}
.contains-mobile select {
	width: 10%;
}
.label-offset {
	position: relative;
}
.label-offset label {
	position: absolute;
	left: 0;
	margin-left: 32.5%;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: auto;
	top: 0;
	background: #fff;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -10px;
}
.label-offset select {
	margin-left: 30%;
}
.label-offset input {
	margin-left: 30%;
	padding-top: 5px;
}
.settings-save-buttons {
	bottom: 0;
	left: 0;
	text-align: right;
	width: 100%;
	margin-bottom: -60px;
	padding-top: 30px;
	right: 0;
}
.cancel-subscription {
	text-align: left;
}
.settings-save-buttons button {
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 150px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bolder;
	border: 0;
	cursor: pointer;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.settings-save-buttons .cancel-btn {
	background: #ff4136;
}
.settings-save-buttons .cancel-btn:hover {
	background: #e90d00;
}
.settings-save-buttons .save-btn {
	background: #25D141;
}
.settings-save-buttons .save-btn:hover {
	background: #21bc3a;
}
.settings-save-buttons .d-flex {
	width: 100%;
	justify-content: flex-end;
}
.cancel-subscription .d-flex {
	justify-content: flex-start;
}
.cancel-subscription button {
	background: transparent;
	height: auto;
	line-height: 1;
	color: #666;
	width: auto;
	text-transform: none;
	font-weight: normal;
	margin-left: 0;
}
.campaign-api-key-form {
	width: 100%;
	max-width: 500px;
}
.campaign-api-key-form input {
	width: 80%;
	margin-right: 10px;
	border: 1px solid #666;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 10px;
}
.campaign-api-key-form button {
	border: 2px solid #1D63A9;
	box-sizing: border-box;
	height: 30px;
	line-height: 24px;
	background: transparent;
	color: #1D63A9;
	font-weight: bolder;
	cursor: pointer;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.campaign-api-key-form button:hover {
	background: #1D63A9;
	color: #fff;
}
.subscriptions-tab h2 {
	padding-bottom: 20px;
	color: #666;
	font-size: 24px;
}
.subscriptions-tab h2 strong {
	color: #000;
}
.subscription-col a {
	width: 240px;
	height: 40px;
	line-height: 36px;
	border: 2px solid #2F64A6;
	color: #2F64A6;
	display: inline-block;
	text-align: center;
	font-size: 17px;
}
.subscription-col a:hover {
	text-decoration: none;
	background: #2F64A6;
	color: #fff;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.users-fields {
	padding-top: 10px;
}
.users-field {
	max-width: 900px;
	width: 100%;
	padding-bottom: 20px;
}
.users-field label {
	width: 100%;
	display: block;
}
.users-field input {
	width: 100%;
	border: 1px solid #666;
	padding-left: 10px;
	box-sizing: border-box;
}
.user-settings-options {
	width: 100px;
}
.user-settings-options ul {
	text-align: left;
	margin: 0;
	padding: 0;
}
.user-settings-options ul li {
	display: inline-block;
	margin-top: 31.5px;
	background: transparent;
	color: #fff;
}
.user-settings-options ul li button {
	color: #fff;
	background: transparent;
	border: 0;
	width: 30px;
	height: 30px;
	line-height: 27px;
	cursor: pointer;
	margin-right: 5px;
}
.user-settings-options ul li button.trash {
	background: #ff4136;
}
.user-settings-options ul li button.edit {
	background: #2F64A6;
}
.add-user-top-right {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}
.add-user-top-right .add-user-btn {
	background: #25D141;
	margin-right: 10px;
	border: 0;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
.add-user-top-right input {
	height: 35px;
	line-height: 35px;
	background: #f0f0f0;
	border: 0;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid #a0a0a0;
}
.add-user-top-right .add-user-btn:hover {
	background: #21bc3a;
}
.search-users {
	position: relative;
}
.search-users i {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 35px;
	margin-right: 10px;
}
.google-account-image {
	margin-right: 20px;
}
.google-account-image img {
	display: block;
	width: 125px;
	height: auto;
	border-radius: 9999px;
}
.google-account-information span {
	display: block;
}
.google-account-information span.google-account-status {
	color: #25D141;
	padding-bottom: 10px;
}
.google-account-information span.google-account-name {
	font-size: 24px;
}
.google-account-information span.google-account-email {
	font-size: 14px;
	font-style: italic;
}
.google-account-information a {
	width: 100px;
	height: 35px;
	line-height: 31px;
	border: 2px solid #2F64A6;
	color: #2F64A6;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	font-weight: bolder;
}
.google-account-information a:hover {
	text-decoration: none;
	background: #2F64A6;
	color: #fff;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.calendars-content select {
	width: 100%;
	max-width: 400px;
	height: 35px;
	line-height: 35px;
}
.time-slot-flex {
	max-width: 650px;
	margin-bottom: 5px;
}
.time-slot-content p {
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
	display: block;
	width: 50%;
}
.time-slot-content select {
	width: 100%;
	padding: 0;
	line-height: 35px;
	height: 35px;
	flex: 1;
}
.time-slot-content input {
	flex: 1;
	width: 100%;
	padding: 0;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
	padding-left: 10px;
}
.mins-time-slot-duration {
	margin-left: 10px;
}
.time-slot-content .mins-time-slot-duration {
	width: 32.5%;
}
.time-slot-multiple-times-select {
	max-width: 62.5px;
}
.days-of-week-booked-title p {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 14px;
}
.days-of-week-row {
	font-size: 14px;
}
.day-title {
	width: 250px;
	margin-right: 20px;
}
.sms-time-flex {
	width: 100%;
	margin-bottom: 20px;
}
.sms-time-flex label {
	width: 10%;
}
.sms-time-flex input {
	box-sizing: border-box;
	padding-left: 10px;
}

/**
 * Campaign Builder Section
 */
.campaign-builder-content {
	flex: 1;
	padding-right: 20px;
}
.campaign-builder-phone-content {
	overflow: scroll;
	box-sizing: border-box;
	width: 80%;
	height: 280px;
	padding-bottom: 20px;
	margin-left: 36px;
	margin-top: 120px;
	margin-right: auto;
}
.campaign-builder-message {
	width: 90%;
	background: #e0e0e0;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
	margin-top: 20px;
}
.campaign-builder-message p {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 12px;
}
.campaign-builder-message:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5px;
	bottom: 0;
	margin-bottom: -8px;
	border: 4px solid;
	border-color: #e0e0e0 transparent transparent #e0e0e0;
	z-index: 9;
}
.message-sent {
	background: rgb(48, 161, 253);
	float: right;
}
.message-sent p {
	color: #fff;
}
.message-sent:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 5px;
	bottom: 0;
	margin-bottom: -8px;
	border: 4px solid;
	border-color: rgb(48, 161, 253) rgb(48, 161, 253) transparent transparent;
	z-index: 9;
}
.campaign-builder-col {
	height: 100%;
	margin-bottom: 40px;
}
.campaign-builder-controls {
	padding-bottom: 10px;
}
.campaign-builder-controls button {
	background: #2F64A4;
	border: 0;
	width: 100px;
	height: 100px;
	padding: 5px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 5px;
}
.sequence-joiner-builder {
	width: 92.5px;
	height: 92.5px;
	border: 1px solid #fff;
	margin: 0 auto;
	border-radius: 9999px;
}
.sequence-joiner-builder span {
	max-width: 80%;
	margin: 0 auto;
	display: block;
	padding: 0;
}
.new-sms-message-campaign-builder {
	border: 1px solid #fff;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.campaign-details-campaign-builder {
	flex: 1;
	border: 1px solid #2F64A4;
	box-sizing: border-box;
}
.campaign-details-header {
	background: #2F64A4;
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.campaign-details-header span {
	font-size: 13px;
	font-style: italic;
	font-weight: bolder;
	padding-left: 10px;
	flex: 1;
}
.campaign-details-header span i {
	margin-left: 5px;
}
.copy-webhook {
	margin-right: 10px;
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	padding-left: 10px;
	padding-right: 10px;
	height: 23px;
	line-height: 21px;
	margin-top: 2.5px;
}
.copy-webhook:hover {
	background: #fff;
	color: #2F64A4;
	text-decoration: none;
}
.campaign-details-content {
	padding-left: 10px;
	box-sizing: border-box;
}
.campaign-details-content span {
	font-size: 11px;
	height: 27.5px;
	line-height: 27.5px;
	margin-top: 5px;
	margin-right: 5px;
}
.campaign-details-content span.to-span {
	border: 1px solid #2F64A4;
	color: #2F64A4;
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
}
.campaign-details-content span.to-person {
	background: rgb(48, 161, 253);
	color: #fff;
	padding-left: 7.5px;
	padding-right: 7.5px;
	text-align: center;
	border-radius: 99px;
}
.campaign-details-content span.more {
	font-style: italic;
	color: rgb(48, 161, 253);
	flex: 1;
	text-align: right;
}
.campaign-builder-interface {
	position: relative;
}
.campaign-builder-buttons {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.campaign-builder-buttons button {
	width: 50%;
	height: 40px;
	line-height: 40px;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: bolder;
	cursor: pointer;
}
.campaign-builder-buttons .schedule-btn {
	background: #1D63A9;
}
.campaign-builder-buttons .send-now {
	background: #25D141;
}